*{box-sizing: border-box}

.nav-hei{
  height: 80px !important;
}
.titleName{
  color: #E6C88C;
  font-size: 35px;
  padding: 0 10px;
}
.banner{
  width: 100%;
  height: 200px;
  background-color: #1B3B36;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
}
.searchBar{
  width: 80% !important;
  height: 50px !important;
  margin-right: 10px;
}
.searchBar:focus{
  box-shadow: 0 0 5px 2px #eabd61 !important;
}
.searchArea{
  display: flex;
  width: 50%;
}
.colorBtn{ background-color: #e1b254 !important;}
.green{color: #1B3B36 !important;}

.allBooksArea{
  width: 70%;
  margin: auto;
  margin-top: 50px;
}
.booksWarp{
  padding: 30px;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.bookCard{
  width: 300px;
  height: 350px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  
  position: relative;
}
.Image{
  overflow: hidden;
  height: 60%;
  width: 100%;
}
.Image>img{
  width: 100%;
  object-fit: 'cover';
}
.bookTitle{
  font-size: 25px;
  margin: 10px 10px;
}
.bookTitle.sub{
  font-size: 18px;
}
.likeBtn{
  border: 2px solid #e1b254;
  border-radius: 5px;
  padding: 10px 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;

  color: #e1b254;
  cursor: pointer;
}
.likeBtn:active{
  background-color: #e1b254;
  color: white;
}

.loginWrap{
  width: 500px;
  margin: auto;
  border-radius: 10px;
  border: 1px solid #e1b254;
  padding: 30px 20px;
  margin-top: 50px;
}
.loginBtnArea{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.loginBtn{
  background-color: #eabd61;
}